### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Serenity / Cucumber / Test reports ###
target/
test-outcomes/
serenity-reports/
allure-results/
allure-report/
*.log

### Credenciales / datos sensibles ###
*.env
.env
**/secrets/**
**/*credentials*
src/test/resources/datos/usuario.properties

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Selenium / WebDriver ###
*.chromedriver
chromedriver.log